<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 129,50"
    gameType="DISC | PS5"
    ></app-card>

    <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 129,50"
    gameType="DISC | PS5"
    ></app-card>

    <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 159,50"
    gameType="DISC | PS5"
    ></app-card>

    <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 159,50"
    gameType="DISC | PS5"
    ></app-card>

    <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 499,50"
    gameType="DISC | PS5"
    ></app-card>

    <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 399,50"
    gameType="DISC | PS5"
    ></app-card>

</div>
